<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PGCG Inmobiliaria</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div th:replace="fragments/menu :: menu"></div>

    <div class="contenedor">

        <h1>Ciudades</h1>

        <div class="mensaje ok"
             th:if="${ok}"
             th:text="${ok}">
        </div>

        <div class="mensaje error"
             th:if="${error}"
             th:text="${error}">
        </div>

        <form method="get"
              th:object="${formBusqueda}">

            <input type="text"
                   th:field="*{nombre}"
                   placeholder="Nombre">

            <select th:field="*{provinciaId}">

                <option value="">
                    Provincia
                </option>

                <option th:each="p : ${provincias}"
                        th:value="${p.id}"
                        th:text="${p.nombre}">
                </option>

            </select>

            <button type="submit">
                Buscar
            </button>

            <a class="boton nuevoItem"
               th:href="@{/ciudades/nuevo}">
                Nueva ciudad
            </a>

        </form>

        <table>

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Provincia</th>
                    <th>Acciones</th>
                </tr>

            </thead>

            <tbody>

                <tr th:each="c : ${lista}">

                    <td th:text="${c.id}"></td>

                    <td th:text="${c.nombre}"></td>

                    <td th:text="${c.provincia.nombre}"></td>

                    <td>

                        <div class="acciones">

                            <div class="accion-item">

                                <a class="boton boton-editar"
                                   th:href="@{/ciudades/editar/{id}(id=${c.id})}">
                                    Editar
                                </a>

                            </div>

                            <div class="accion-item">

                                <form th:action="@{/ciudades/eliminar/{id}(id=${c.id})}"
                                      method="post">

                                    <button type="submit"
                                            class="boton-eliminar">
                                        Eliminar
                                    </button>

                                </form>

                            </div>

                        </div>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</body>

</html>
