<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PGCG Inmobiliaria</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div th:replace="fragments/menu :: menu"></div>

    <div class="contenedor">

        <h1>Formulario de Provincia</h1>

        <div class="mensaje error"
             th:if="${error}"
             th:text="${error}">
        </div>

        <form th:action="${form.id == null} ? @{/provincias/guardar} : @{/provincias/editar}"
              th:object="${form}"
              method="post">

            <input type="hidden"
                   th:field="*{id}">

            <div th:if="${form.id != null}">

                <label>Identificador</label>

                <input type="text"
                       th:value="${form.id}"
                       readonly>

            </div>

            <label>Nombre</label>

            <input type="text"
                   th:field="*{nombre}">

            <div class="mensaje error"
                 th:if="${#fields.hasErrors('nombre')}"
                 th:errors="*{nombre}">
            </div>

            <div class="acciones-form">

                <button type="submit">
                    Guardar
                </button>

                <a class="boton"
                   th:href="@{/provincias}">
                    Volver
                </a>

            </div>

        </form>

    </div>

</body>

</html>
